<!DOCTYPE html>
<html lang="en">
<head>Dear Friend
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOK</title>
</head>
<body style="background-color: green;">
    <div>
    <h1>I love LOK</h1>
    <p>Library Of Knowlegde allows me to get all books of my preferences helping me in my Brain growth.</p>
    <p>Therefore, I Kayumba Jean Marie Vianney <br> I am glad to welcome you my friend. <br>HUANYI HUANGLIN Tie XieXie Le!!</p>
</html>